.log-in{
  margin-left: 10px;
  padding:0px 20px 0px 20px;
}
 .input-field input[type=text]:focus {
     border-bottom: 1px solid #26A599 !important;
     box-shadow: 0 1px 0 0 #26A599 !important;
   }
 .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
      color: black !important;
 }
 .select-color{
     color: black !important;
 }
 .pg-color{
   background-color: white;
 }
 .mar{
   margin-left: 300px;
 }
 .bt{
   margin-left: 20px;
   margin-right: 20 px;
 }
 